.Navbar-container {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    height: 1in;
    display: flex;
}
@media (max-width: 500px) {
    .Navbar-container .Navbar-icon {
        display: inline-flex;
        flex-grow:2;
        justify-content: left;
    }
    .Navbar-container .Navbar-icon a {
        display: flex;
    }
    .Navbar-container .Navbar-icon a img {
        border-radius: 20%;
        margin: 5px;
    }
    .Navbar-container .Navbar-options{
        display: inline-flex;
        flex-grow: 1;
        justify-content: flex-end;
        padding: 15px;
    }
    .Navbar-container .Navbar-options a {
        display: flex;
        align-items: center;
        font-size: 30px;
        position: absolute;
        z-index: 1;
    }
}    
@media (min-width: 1000px) {
    .Navbar-container .Navbar-icon {
        display: inline-flex;
        flex-grow:3;
        justify-content: left;
    }
    .Navbar-container .Navbar-icon a {
        display: flex;
    }
    .Navbar-container .Navbar-icon a img {
        border-radius: 20%;
        margin: 5px;
    }
    .Navbar-container .Navbar-options {
        display: inline-flex;
        flex-grow:6;
        justify-content: right;
    }
    .Navbar-container .Navbar-options a {
        display: flex;
    }
}
