@media (max-width: 8000px) {
    .Gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .Gallery .card {
        display: grid;
		align-items: center;
		justify-content: center;
        padding: 20px;
    }
    
}
