@media (max-width: 8000px) {
	.interaction {
		background-color: rgba(255, 255, 255, 1);
		border-radius: 20px;
		padding: 10px;
		margin-left: 10px;
		margin-right: 10px;
		box-shadow: 5px 5px 5px 1px rgb(0 0 0 / 15%);	
	}

	.interaction {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}

	.interaction div {
		display: grid;
		align-items: center;
		justify-content: center;
		color: #FFAACC;
		font-size: 25px;
	}

	.interaction div a {
		display: grid;
		align-items: center;
		justify-content: center;
		color: #FFAACC;
		font-size: 25px;
	}

	.home-opt {
		border-right: 1px solid;
	}

	.gallery-opt {
		border-right: 1px solid;
	}

	.contact-opt {
		border-right: 1px solid;
	}
}