@media (max-width: 800px) {
    .product-card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        align-items: center;
		justify-content: center;
		box-shadow: 5px 5px 5px 1px rgb(0 0 0 / 15%);
        padding: 0px;
        text-align: center;
    }
    .product-card {
        background-color: white;
        border: 2px solid #FFAACC;
        border-radius: 15px;
        height: 350px;
        width: 350px;
    }
    .product-card .content {
        height: 100%;
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
        z-index: 1;
    }

    .product-card .head img {
        display: grid;
        z-index: 0;
        position: absolute;
        height: 200%;
        width: 100%;
        object-fit: cover;
        border-radius: 13px;
        opacity: 0.8;
    }
    .product-card .content .title {
        z-index: 1;
        display: grid;
        font-size: xx-large;
        align-items: flex-end;
		justify-content: left;
        color: white;
        height: 100%;
        font-weight: 500;
    }

    .product-card .head {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        border-radius: 15px;
        height: 100%;
        position: relative;
    }

}