.Shop {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: #FFAACC;
    height: auto;
    border-radius: 20px 20px 20px 20px;
    margin: 10px;
    color: white;
    font-size: 20px;
    box-shadow: 5px 5px 5px 1px rgb(0 0 0 / 15%);
    color: #d9317a;
}

.Shop .title {
    text-align: center;
    font-size: 40px;
    padding: 15px;
    border-radius: 0px 0px 2px 2px;
}

.Shop .actions {
    display: grid;
    border-radius: 2px 2px 0px 0px;
    grid-template-columns: repeat(3, 1fr);
    padding: 15px;
}

.Shop .actions .page {
    display: grid;
    justify-content: center;
    align-items: center;
}

.Shop .actions .next {
    display: grid;
    justify-content: end;
    vertical-align: middle;
}

.Shop .actions .next[disabled] {
    opacity: 0.5;
}

.Shop .actions .back {
    display: grid;
    justify-content: start;
    vertical-align: middle;
}


.Shop .actions .back[disabled] {
    opacity: 0.5;
}

.Shop .content {
    height: 440px;
    padding: 20px;
    overflow: auto;
}

.next-button {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    background-color: #d9317a;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-decoration: none;
}

.next-button:hover {
    opacity: 0.8;
}

.next-button .arrow {
    display: block;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.back-button {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    background-color: #d9317a;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-decoration: none;
}

.back-button:hover {
    opacity: 0.8;
}

.back-button .arrow {
    display: block;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 12px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}