@media (max-width: 800px) {
    .Gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .Gallery .card {
        display: grid;
		align-items: center;
		justify-content: center;
        padding: 20px;
    }
    
}