.UserForm * {
    margin: 15px;
}

.UserForm .InpSelect .checkmark {
    left: 80px;
    top: -10px;
}

.UserForm .InpSelect {
    padding-left: 0px;
}

.UserForm .label {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0px;
    font-size: 22px;
}

.UserForm .label.comments {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0px;
    font-size: 22px;
}

.UserForm .animate__animated.animate__fadeInDown {
  --animate-duration: 0.4s;
}

.UserForm .label input, textarea {
    border-radius: 10px;
    border: none;
    font-size: initial;
    padding-left: 10px;
}

.UserForm .label input#orderDate {
    height: 30px;
    width: 170px;
    margin: auto;
}

.UserForm .label input:focus-visible, textarea:focus-visible {
    outline: #bc318f 2px solid;
}

.UserForm .label input::-webkit-input-placeholder {
     opacity: 0.3; /*Change the opacity between 0 and 1*/
}

.UserForm .label textarea::-webkit-input-placeholder {
     opacity: 0.3; /*Change the opacity between 0 and 1*/
}
