@media (max-width: 500px) {

  .home-picture {
    justify-self: center;
    margin-top: 50px;
    height: 300px;
  }

  .home-picture img {
    height: 400px;
    width: 350px;
  }

  .home-options {
    display: flex;
    padding: 10px;
    padding-top: 150px;
  }

  .home-options .gallery-option {
    flex-grow: 2;
    justify-content: center;
  }

  .home-options .button-option {
    flex-grow: 2;
    justify-content: center;
  }

  button {
    font-family: inherit;
  }

  /* Simple button styling -- No animation */
  .gallery {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(255, 287, 204, 0);
  }

  .gallery::after {
    content: "";
    background-color: #FFDDCC;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
  }

  .pedido {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(255, 287, 204, 0);
  }

  .pedido::after {
    content: "";
    background-color: #FFAACC;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
  }

  /* End of Simple Button */

  /* Fill button styling */
  .fill {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
  }

  .fill::after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }

  .fill:hover::after {
    top: 0px;
    left: 0px;
  }

  /* End of Fill Button  */

  /* Slide button styling */
  .slide {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 30px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
  }

  .slide i {
    opacity: 0;
    font-size: 13px;
    transition: 0.2s;
    position: absolute;
    right: 10px;
    top: 21px;
    transition: transform 1;
  }

  .slide div {
    transition: transform 0.8s;
  }

  .slide:hover div {
    transform: translateX(-6px);
  }

  .slide::after {
    content: "";
    background-color: #66f2d5;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
  }

  .slide:hover i {
    opacity: 1;
    transform: translateX(-6px);
  }
}