@media (prefers-reduced-motion: no-preference) {}

body {
  background-color: rgba(255, 238, 204, 0.6);
  font-size: calc(10px + 2vmin);
  margin: 0;
  font-family: 'Grand Hotel', cursive;
  height: 100%;
}

.App {
  height: 100%;
}

footer {
  position: fixed;
  bottom: 2%;
  width: 100%;
  z-index: 3;
}

.App-navtab {
  z-index: 3;
  position: fixed;
  width: 95%;
  padding: 3%;
}

#root {
  height: 100%;
}

.App-content {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
  padding-top: 25%;
  padding-bottom: 25%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes App-background-image {
  from {
    background: -webkit-linear-gradient(120deg, #FFEECC 50%, #FFBBCC 50%);
    transition: 1s ease-out;
  }

  to {
    background: -webkit-linear-gradient(120deg, #FFEECC 50%, #FFEECC 50%);
    transition: 1s ease-out;
  }
}